<h2> Showing the selected article </h2>

Title : <%= @article.title %>
<br>
Description : <%= @article.description %>
<br>

<br>
<%= link_to 'edit' , edit_article_path(@article) %>  
<br>
<%= link_to 'Back to article listing' , articles_path %>